@model RestaurantWebsite.Models.ProductModel

<div class="container">
    <h1>Create Product</h1>
    <p>Enter the product details below to add a new product to the database.</p>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Product name..." />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" type="text" class="form-control" placeholder="Product description..." />
        </div>
        <div class="form-group">
            <label asp-for="Alergies"></label>
            <input asp-for="Alergies" type="text" class="form-control" placeholder="Product alergies..." />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Calories"></label>
            <input asp-for="Calories" type="number" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
