@model RestaurantWebsite.Models.ProductModel

<div class="container">
    <h1>Create Product</h1>
    <p>Enter the product details below to add a new product to the database.</p>

    <form asp-action="Create" method="post">
        <!--Validation for the whole model-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Product name..." />
            <!--Validation for individual data-->
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" type="text" class="form-control" placeholder="Product description..." />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Alergies"></label>
            <input asp-for="Alergies" type="text" class="form-control" placeholder="Product alergies..." />
            <span asp-validation-for="Alergies" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="number" step="0.01" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Calories"></label>
            <input asp-for="Calories" type="number"   class="form-control" />
            <span asp-validation-for="Calories" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
