@model IEnumerable<RestaurantWebsite.Models.ProductModel>

<div class="container py-5">
    <h1 class="pb-5">Products</h1>

    <div id="menu" class="rounded-4 p-5">
        @foreach (var product in Model)
        {
            <div class="row d-flex">
                <div class="col-5">
                    <h3>@product.Name</h3>
                </div>
                <div class="col-2">
                    <p>@product.Calories</p>
                </div>
                <div class="col-2">
                    <p>£@product.Price</p>
                </div>
                <div class="col-3">
                    <!--Add a edit and delete button here-->
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>

                <hr>
            </div>
        }
    </div>
</div>