html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EEEEEE;
}

#banner{
    background-image: url("../Images/burgers.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

#banner-menu {
    background-image: url("../Images/glasses.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

#bannertxt{
    background-color: white;
    color: red;
}

#menu {
    background-color: #ECDCBF;
}


header{
   background-color: #A31D1D;
}

.navbar-brand, .nav-link {
    color: #FFFFFF;
}

.title {
    color: #A31D1D;
    font-size: 4vw;
}