html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:red;
}

#banner{
    background-image: url("../Images/banner.png");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

#bannertxt{
    background-color: white;
    color: red;
}

#menu{
    background-color: aliceblue;

}